@import "pages/dashboard.css";
@import "components/navbar.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow: 0 0 8px 0 #0005;
}

.container {
    width: 90%;
    margin: auto;
}