/* <======>Sidebar<=======> */

.sidebar {
    width: 70px;
    height: calc(100vh - 70px);
    background-color: var(--sidebar-color);
    padding: 10px 10px;
    border-right: var(--border-light);
    overflow: hidden;
    transition: var(--tran-05);
    position: relative;
    z-index: 100;
}

.sidebar.close {
    width: 250px;
}

.sidebar__logo {
    display: flex;
    align-items: center;
}

.toggle {
    font-size: 23px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.logo {
    margin-left: 20px;
    opacity: 0;
    transition: var(--tran-04);
}

.sidebar.close .logo {
    opacity: 1;
}

/* <======>Links<=======> */

.links__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* <======>Links<=======> */

.sidebar__links, .sidebar__footer {
    margin-top: 30px;
}

.link__item {
    list-style: none;
    height: 50px;
    padding: 0 12px;
    line-height: 50px;
    border-radius: 5px;
}

.link__item:hover, .toggle:hover {
    background-color: var(--primary-color-light);
}

.sidebar__icons {
    min-width: 40px;
    font-size: 20px;
    display: inline-block;
}

.sidebar__icons, a, .link__text {
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
}

.link__text {
    opacity: 0;
    transition: var(--tran-04);
}

.sidebar.close .link__text {
    opacity: 1;
}

/* <======>Logout and mode<=======> */

.sidebar__footer {
    margin-bottom: 40px;
}

.mode {
    display: flex;
    /* background-color: var(--primary-color-light); */
}

.sun__moon {
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
}

.sun__moon i {
    position: absolute;
    opacity: 1;
}

.sun__moon i.bi-sun {
    opacity: 0;
}

.mode__text {
    line-height: 50px;
    margin-left: 4px;
    opacity: 0;
    color: var(--text-color);
    white-space: nowrap;
    transition: var(--tran-04);
}

.sidebar.close .mode__text {
    opacity: 1;
}

.sidebar.close .sun__moon {
    opacity: 1;
}

.switch__toggle {
    margin-left: -10px;
    /* min-width: 60px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch {
    width: 44px;
    height: 22px;
    background-color: var(--toggle-color);
    border-radius: 25px;
    position: relative;
}

.switch::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

body.dark .switch::before {
    left: 24px;
}