.login__hero {
    background-image: url("/public/images/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* LOGIN FORM */
.form__login {
    width: 400px;
    max-width: 500px;
    background-color: #fff4;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2rem 3rem;
    backdrop-filter: blur(.2rem);
    box-shadow: 0 0 15px 0 #fff5;
}

.form__title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #D47E2E;
    font-size: 2.2rem;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.input {
    width: 100%;
    height: 2.3rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0 1rem;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

.form__checkbox {
    color: #000c;
}

.form__submit {
    width: 100%;
    height: 2.3rem;
    border: none;
    border-radius: 5px;
    margin-top: 2.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: #D47E2E;
    color: #fff;
}

.form__submit:hover {
    background-color: #b96d25;
    cursor: pointer;
}

.form__submit:active {
    background-color: #a56223;
}

.span {
    text-align: center;
    margin-top: 1rem;
}

.forgot__password {
    color: #000c;
}

.create__account {
    font-weight: bold;
}